section {
    padding: 15px;
}

.searchbox {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 8px;
    transition: 0.4s ease-out;
}

.searchbox:focus {
    box-shadow: 0px 0px 8px 3px lightblue;
}